%h1 Listing sheets

%table.table.table-bordered.table-hover
  %thead
    %tr.active
      %th Pol
      %th Pod
      %th Rate wm
      %th Rate min
      %th Tt

  %tbody.table-hover
    - @sheets.each do |sheet|
      %tr
        %td= sheet.pol
        %td= sheet.pod
        %td= sheet.rate_wm
        %td= sheet.rate_min
        %td= sheet.tt
